web3==7.13.0
python-dotenv==1.1.1
pyTelegramBotAPI==4.29.1
hexbytes==1.3.1
eth_abi==5.2.0
numpy==2.3.3
requests==2.32.3
python-telegram-bot==22.5
fastapi
uvicorn[standard]

# api signals

fastapi
uvicorn[standard]
binance-connector
motor
pydantic
structlog
tenacity
pybreaker
python-dotenv